<div class="bg-black text-white">
  <div class="mx-auto max-w-7xl py-10">
    <div class="flex justify-between border-b-2 border-offGray pb-6 mb-6">
      <p class="font-sofachrome-italic mirror-text text-3xl">BAUM AI</p>
      <div class="flex items-center">
        <img
          src="../../../assets/icons/home.svg"
          alt=""
          class="mr-4 h-10 w-10"
        />
        <p class="max-w-xs text-lightgray">
          Moscow, Baumanskaya st, 68/8, building 1
        </p>
      </div>
      <div class="flex items-center">
        <img
          src="../../../assets/icons/phone.svg"
          alt=""
          class="mr-4 h-10 w-10"
        />
        <p class="max-w-xs text-lightgray">+7 495 249-11-13</p>
      </div>
      <div class="flex items-center">
        <img
          src="../../../assets/icons/mail.svg"
          alt=""
          class="mr-4 h-10 w-10"
        />
        <p class="max-w-xs text-lightgray">info@baum-inform.ru</p>
      </div>
    </div>
    <p class="text-center text-lightgray"> @ 2022 Baum-inform. All rights reserved.</p>
  </div>
</div>
