<div class="flex w-full pr-20 mx-20">
  <img
    src="../../../assets/logos/logo-black.png"
    alt=""
    class="object-contain py-4 pr-4"
  />

  <div class="border-l-2 border-lightgray flex flex-col items-center w-full">
    <div class="flex justify-end w-full py-2 gap-x-6 text-lightgray">
      <a href="">About us</a>
      <a href="">Our Team</a>
      <a href="">News</a>
      <a href="">Contacts</a>
    </div>

    <div
      class="grid grid-cols-2 w-full border-lightgray divide-lightgray border-t-2 items-center"
    >
      <div class="flex justify-between px-4 border-lightgray border-r-2 py-2">
        <p>lorum ipsum banan?</p>
        <img src="../../../assets/icons/search.svg" alt="" class="w-6 h-6" />
      </div>
      <div class="flex justify-end py-2">
        <app-drop-down></app-drop-down>
      </div>
    </div>
  </div>
</div>
