<div class="mx-10 flex w-full border-l-2 border-l-lightgray pr-20">
  <button>
    <img
    src="../../../assets/logos/logo-black.png"
    alt=""
    class="object-contain py-4 pr-6 "
    [routerLink]="['/routing-test']"
  />
  </button>

  <div class="flex w-full flex-col items-center border-x-2 border-lightgray">
    <div class="flex w-full justify-end gap-x-10 px-8 py-2 text-lightgray">
      <button [routerLink]="['/routing-test']" href="" class="hover:text-cyan">About us</button>
      <button [routerLink]="['/routing-test']" href="" class="hover:text-cyan">Our Team</button>
      <button [routerLink]="['/routing-test']" href="" class="hover:text-cyan">News</button>
      <button [routerLink]="['/routing-test']" href="" class="hover:text-cyan">Contacts</button>
    </div>

    <div
      class="grid w-full grid-cols-2 items-center border-t-2 border-lightgray"
    >
      <div class="flex justify-between border-r-2 border-lightgray px-4 py-4">
        <input
          type="text"
          [matAutocomplete]="auto"
          placeholder="What are you looking for?"
          class="w-full "
        />
        <button class="rounded-full hover:bg-lightgray active:bg-lightgray/60 py-1 px-1" [routerLink]="['/routing-test']">
          <img src="../../../assets/icons/search.svg" alt="" class="h-6 w-6" />
        </button>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
          
            *ngFor="let searchHits of searchHits"
            [value]="searchHits.title"
          >
            {{ searchHits.title }}
          </mat-option>
        </mat-autocomplete>
      </div>

      <div class="flex justify-between pl-4 pr-8">
        <app-drop-down
          [title]="'Storage'"
          [menuItems]="['STORAGE 1', 'STORAGE 2', 'STORAGE 3']"
        />
        <app-drop-down [title]="'AI'" [menuItems]="['AI 1', 'AI 2']" />
        <app-drop-down
          [title]="'Community'"
          [menuItems]="[
            'COMMUNITY 1',
            'COMMUNITY 2',
            'COMMUNITY 3',
            'COMMUNITY 4'
          ]"
        />
        <button
          class="rounded bg-white px-4 py-2 text-black hover:text-cyan focus:text-cyan" [routerLink]="['/routing-test']"
        >
          Education
        </button>
        <app-drop-down
          [title]="'About company'"
          [menuItems]="['ABOUT US', 'CONTACT US', 'NEWS', 'JOBS']"
        />
      </div>
    </div>
  </div>
</div>
