.img-crop1-img {
  background-image: url(../../../assets/images/landing.jpg);
clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 15% 50%);}

.img-crop1-img-bg {
  clip-path: polygon(0 0, 5% 0, 20% 50%, 5% 100%, 0 100%, 0 50%);
  min-height: 600px;
}

.img-crop2-img {
  background-image: url(../../../assets/images/image2.png);
  clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
}

.img-crop2-img-bg {
  clip-path: polygon(95% 0, 100% 0, 75% 100%, 70% 100%);
  background: rgba(23, 60, 62, 0.76);
  min-height: 450px;
}

.mirror-text {
  position: relative;
  color: white;
}

.mirror-text::before, .mirror-text::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  transform: scaleY(-1);
  opacity: 0.4;
}

.mirror-text::before {
  top: 0;
}

.mirror-text::after {
  top: 1em; /* adjust to the desired distance between the text and its reflection */
}

.bg-image-storage {
  background-image: url(../../../assets/images/image1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 450px;
}

.bg-image-ai-platform {
  background-image: url(../../../assets/images/cube1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 
  min-height: 600px;
  right: 3rem;
  z-index: 5;
  position: relative;
}
.bg-image-community {
  background-image: url(../../../assets/images/cube2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 
  min-height: 600px;
  left: 3rem;
  z-index: 5;
  position: relative;
}