<div class="flex bg-teal">
  <div class="store-info-img bg-no-repeat bg-cover h-full w-3/4">
    <div class="store-info-img-bg h-full"></div>
  </div>
  <div class="text-white w-full my-auto">
    <div class="w-4/5 mx-auto">
      <div class="flex items-center mb-6">
        <div class="bg-lightgray px-16 h-[1px] mr-5"></div>
        <p class="text-3xl">We are very cool and have been since 2010</p>
      </div>
      <p class="text-xl text-lightgray mb-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod,
        nisl nec tincidunt lacinia, nunc nisl aliquam massa, eget aliquet nisl
        nisl sit amet mauris. Sed euismod, nisl nec tincidunt lacinia, nunc nisl
        aliquam massa, eget aliquet nisl nisl sit amet mauris.
      </p>

      <p class="text-end flex items-center text-lightgray justify-end">Learn more <img src="../../../assets/icons/long-arrow-right.svg" class="h-10 w-10 ml-2" alt=""></p>
    </div>
  </div>
</div>
