<div class="bg-cyan flex items-center text-white mx-10">
  <div class="mx-auto">
    <div class="flex items-center mb-6">
      <div class="bg-lightgray px-16 h-[1px] mr-5"></div>
      <p class="text-3xl">We are very cool and have been since 2010</p>
    </div>
    <p class="text-7xl font-sofachrome-italic mirror-text">BAUM AI</p>
  </div>
  <div class="img-crop1-img bg-no-repeat bg-cover h-full w-2/4">
    <div class="img-crop1-img-bg h-full bg-teal/40"></div>
  </div>
</div>

<!-- --------------------------------------------------------------------------- -->

<div
  class="bg-black flex justify-between text-white px-20 py-6 gap-x-20 items-end mx-10"
>
  <div class="max-w-5xl">
    <div class="flex gap-x-20">
      <p class="text-3xl font-semibold">Title one</p>
      <p class="text-3xl font-semibold">Title two</p>
      <p class="text-3xl font-semibold">Title three</p>
    </div>
    <p class="font-thin">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl
      nec tincidunt lacinia, nunc nisl aliquam massa, eget aliquet nisl nisl sit
      amet mauris. Sed euismod, nisl nec tincidunt lacinia, nunc nisl aliquam
      massa, eget aliquet nisl nisl sit amet mauris.
    </p>
  </div>
  <button
    class="bg-[#212121] border border-white flex px-6 items-center justify-center h-fit py-4"
  >
    <p class="text-xl font-semibold">Something</p>
    <img
      src="../../../assets/icons/arrow-right.svg"
      alt=""
      class="ml-3 h-6 w-6"
    />
  </button>
</div>

<!-- --------------------------------------------------------------------------- -->

<div class="mx-10 my-20 grid grid-cols-2 gap-x-10 items-center">
  <div class="flex flex-col ml-16">
    <p class="text-4xl text-start mb-8 font-semibold">Storage</p>
    <p class="mb-8 text-lg">
      lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl
      nec tincidunt lacinia, nunc nisl aliquam massa, eget aliquet nisl nisl sit
      amet mauris. Sed euismod, nisl nec tincidunt lacinia, nunc nisl aliquam
      massa, eget aliquet nisl nisl sit amet mauris.
    </p>
    <div class="flex gap-x-8">
      <button
        class="bg-black text-white flex gap-x-4 hover:bg-white hover:border-2 border-black hover:text-black py-4 w-60 justify-center"
      >
        Baum UDS
      </button>
      <button
        class="bg-black text-white flex gap-x-4 hover:bg-white hover:border-2 border-black hover:text-black py-4 w-60 justify-center"
      >
        Baum SWARM
      </button>
    </div>
  </div>
  <div class="bg-image-storage">

  </div>
</div>

<!-- --------------------------------------------------------------------------- -->

<div class="flex bg-teal mx-10">
  <div class="img-crop2-img bg-no-repeat bg-cover h-full w-3/4">
    <div class="img-crop2-img-bg h-full"></div>
  </div>
  <div class="text-white w-full my-auto">
    <div class="w-4/5 mx-auto">
      <div class="flex items-center mb-6">
        <div class="bg-lightgray px-16 h-[1px] mr-5"></div>
        <p class="text-3xl">We are very cool and have been since 2010</p>
      </div>
      <p class="text-xl text-lightgray mb-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod,
        nisl nec tincidunt lacinia, nunc nisl aliquam massa, eget aliquet nisl
        nisl sit amet mauris. Sed euismod, nisl nec tincidunt lacinia, nunc nisl
        aliquam massa, eget aliquet nisl nisl sit amet mauris.
      </p>

      <p class="text-end flex items-center text-lightgray justify-end">
        Learn more
        <img
          src="../../../assets/icons/long-arrow-right.svg"
          class="h-10 w-10 ml-2"
          alt=""
        />
      </p>
    </div>
  </div>
</div>

<!-- ---------------------------------------------------------------------------- -->
