
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$final-test-primary: mat.define-palette(mat.$indigo-palette);
$final-test-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$final-test-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$final-test-theme: mat.define-light-theme((
  color: (
    primary: $final-test-primary,
    accent: $final-test-accent,
    warn: $final-test-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($final-test-theme);


@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #ffff;
  box-sizing: border-box;
  height: 100%;
}

.font-sofachrome-italic {
  font-family: "DS Sofachrome", sans-serif;
  font-weight: normal;
  font-style: italic;
}

a {
  text-decoration: none;
  color: inherit;
}

.active {
  background-color: #f8f9fa;
  color: #007bff;
}

input:focus {
  outline: none;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
